<%- include ('Layouts/header.ejs') -%>
<% if (Keys) { %>
<form action="/edit" method="post">
    <input type="number" value="<%= Keys.ID %>" name="ID" hidden>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">-</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="addon-wrapping" id="Nombre" name="Nombre" value="">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">-</span>
        <input type="text" class="form-control" placeholder="Descripcion" aria-label="Descipcion" aria-describedby="addon-wrapping" id="Descripcion" name="Descripcion">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">-</span>
        <input type="text" class="form-control" placeholder="Plataforma" aria-label="Plataforma" aria-describedby="addon-wrapping" id="Plataforma" name="Plataforma">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">-</span>
        <input type="text" class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="addon-wrapping" id="Precio" name="Precio">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">-</span>
        <input type="text" class="form-control" placeholder="Imagen" aria-label="Imagen" aria-describedby="addon-wrapping" id="Img" name="Img">
    </div>
    <button>

    </button>
</form>
<% } %>
<%- include ('Layouts/footer.ejs') -%>