<%- include ('Layouts/header.ejs') -%>
<div class="row row-cols-1 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sobre Nosotros</h3>
        <p class="card-text">Esta pagina esta dedicada a dar los mejores precios a todos los jugadores ahi afuera, nuestros precios son los mejores en el mercado.</p>
        <h5>PAGINA CERTIFICADA Y SEGURA.</h5>
        <P>Envios a todos los paises.</P>
      </div>
    </div>
  </div>

<%- include ('Layouts/footer.ejs') -%>
